@{ Layout = null; /* Overrides the Layout set for regular page views. */ }

Subject: @ViewBag.Subject - TeacMe
Content-Type: text/html; charset=utf-8

<html>
<body dir="rtl">
    @ViewBag.UserName
    <p>
        @ViewBag.Body
    </p>
</body>
</html>


