@{ Layout = null; /* Overrides the Layout set for regular page views. */ }

Subject: השלמת תהליך הרישום - TeacMe
Content-Type: text/html; charset=utf-8

<html>
<body dir="rtl">
    <p>
        שלום @ViewBag.UserName,
    </p>
    להשלמת תהליך הרישום כנס ללינק הבא:
    <a href="http://@ViewBag.hosturl/Account/RegisterConfirmation/@ViewBag.ConfirmationToken" target="_blank">השלמת תהליך הרישום</a>

</body>
</html>

