@{ Layout = null; /* Overrides the Layout set for regular page views. */ }

Subject: Password Recovery - TeacMe
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>
        Someone requested an password recovery on TeachMe for @ViewBag.To. If you did not request this, just ignore this email. We'll keep your account safe.
        If you would like to reset your password, just follow this link, and we will automatically log you in afterwards.
    </p>
    <a href="@ViewBag.HostUrl/Account/ResetPasswordStepTwo/@ViewBag.ConfirmationToken" target="_blank">Reset Your Password</a>
</body>
</html>



