@{ Layout = null; /* Overrides the Layout set for regular page views. */ }

Subject: Password Recovery - TeacMe
Content-Type: text/html; charset=utf-8

<html>
<body dir="rtl">
    <p>
        בקשת שחזור סיסמא התקבלה ב-TeachMe עבור @ViewBag.To. אם לא ביקשת לשחזר את הסיסמא פשוט תתעלם מדוא"ל זה. אנחנו נשמור את החשבון שלך בטוח!
        אם ברצונך לאפס את הסיסמה שלך, כנס לקישור הזה, ואנחנו באופן אוטומטי נכניס אותך לאחר מכן.
    </p>
    <a href="@ViewBag.HostUrl/Account/ResetPasswordStepTwo/@ViewBag.ConfirmationToken" target="_blank">אפס את הסיסמא שלי</a>
</body>
</html>



