@{
    ViewBag.Title = "כניסה נכשלה";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-exclamation-triangle color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <h3 class="text-error">הכניסה באמצעות השירות נכשלה</h3>
</div>