@model TeachMe.Models.ResultViewModel
@{
    ViewBag.Title = "Result";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-info color-green"></i> &nbsp;@Model.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <div class="margin-bottom-40"></div>
        <div class="alert alert-@Model.Type fade in margin-bottom-50">
            <strong>@Html.Raw(Model.Text)</strong>
        </div>
    </div>
