@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="loginbar pull-right">
            <li>
                @Html.ActionLinkIcon("שלום " + User.FirstName() + "!", "Manage", "Account", "fa fa-user", htmlAttributes: new { title = "Manage" })
            </li>
            <li class="topbar-devider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;התנתק</a>
            </li>

        </ul>
    }
}
else
{
    <ul class="loginbar pull-right">
        <li>
            @Html.ActionLinkIcon("הרשמה", "Register", "Account", "fa fa-pencil-square-o", new { id = "registerLink" })
        </li>
        <li class="topbar-devider"></li>
        <li>
            @Html.ActionLinkIcon("כניסה", "Login", "Account", "fa fa-sign-in", new { id = "loginLink" })
        </li>
    </ul>
}
