@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "שגיאה";
}

<h1 class="text-danger">שגיאה</h1>
<h2 class="text-danger">התרחשה שגיאה. נסה שוב במועד מאוחר יותר. במידה והינך נתקל שוב בבעיה אנא <a href="/Home/Contact">פנה</a> אלינו לטיפולו.</h2>


