@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "שגיאה";
}

<h1 class="text-primary">שגיאה</h1>
<h2 class="text-primary">התרחשה שגיאה, אנא נסה שוב במועד מאוחר יותר</h2>
<h2 class="text-primary">במידה והינך נתקל שוב בבעיה אנא <a href="/Home/Contact">פנה</a> אלינו לטיפולה.</h2>


