@{
    ViewBag.Title = "אודות";
}

<h2><span class="glyphicon glyphicon-info-sign"></span> &nbsp;@ViewBag.Title</h2>
<p>
    <br>
    <img src="/Images/teachme.jpg" width="185" height="185" style="" />
</p>
<center><h3>TeachMe</h3></center>

<p>
    <blockquote class="pull-right">
        <div style="font-size:large; ">TeachMe היא פלטפורמה לכל מי שרוצה ללמד או ללמוד</div>
        <div style="font-size:large">כתלמיד תוכל לחפש מורה באזור שלך לפי ולקרוא עליו המלצות מתלמידים כמוך</div>
        <div style="font-size:large">כמורה תוכל לקבל חשיפה לתלמידים רבים</div>
        <div style="font-size:large">ניתן להתחבר לאתר באמצעות פרופיל רשת חברתית כמו פייסבוק או גוגל פלוס כך שלא תצטרך להירשם ל"עוד רשת חברתית"</div>
    </blockquote>
</p>
<br><br><br><br><br><br><br><br>
