@{
    ViewBag.Title = "אודות";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-info-circle color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <!-- About Sldier -->
    <div class="shadow-wrapper margin-bottom-50">
        <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/Images/Carousel/carousel1200-01.jpg" alt="">

                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/Carousel/carousel1200-02.jpg" alt="">

                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/Carousel/carousel1200-03.jpg" alt="">

                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/Carousel/carousel1200-04.jpg" alt="">

                </div>
            </div>

            <div class="carousel-arrow">
                <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#myCarousel" class="right carousel-control">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- End About Sldier -->
    <!-- About Description -->
    <div class="headline"><h2>אודות <span class="color-green">TeachMe</span></h2></div>
    <div class="row">
        <div class="col-md-4">
            <div><center><img src="/Images/teachme.jpg" width="185" height="185" style="" /></center></div>
        </div>
        <div class="col-md-8">
            <div class="title-box-v2">
                <p>TeachMe היא פלטפורמה לכל מי שרוצה ללמד או ללמוד. </p>
                <p>כתלמיד תוכל לחפש מורה באזור שלך לפי תחום לימוד ולקרוא עליו המלצות מתלמידים כמוך, וכמורה תוכל לקבל חשיפה לתלמידים רבים. </p>
                <p>ניתן להתחבר לאתר באמצעות פרופיל רשת חברתית כמו פייסבוק או גוגל פלוס כך שלא תצטרך להירשם ל"עוד רשת חברתית"</p>
            </div>
        </div>
        
</div>
    <!-- About Description -->
    <!-- Meer Our Team -->
    <div class="headline"><h2>הצוות שלנו</h2></div>
    <div class="row team">
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">רוס ח.</a> <small>developer</small></h3>
                <p>...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">קובי א.</a> <small>developer</small></h3>
                <p>...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">אנטון ט.</a> <small>developer</small></h3>
                <p>...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">אהובה ב.</a> <small>developer</small></h3>
                <p>...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>

        </div>
    <!--/team-->
    <!-- Meer Our Team -->
</div>