@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    JCE<br />
    ISRAEL<br />
</address>

<address>
    <strong>Source code:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net">GitHub</a><br />
    <strong>Support:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net/issues">Issues tracker</a><br />
    <strong>Help:</strong> <a href="https://github.com/matrostik/teachme.mvc.net/wiki">Wiki</a>
</address>