@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TeachMe</h1>
    <p class="lead"><img src="/Images/teachme.jpg" width="185" height="185" /></p>
<p class="lead">
    TeachMe is a platform for everyone who is looking for a private teacher or wants to advertise himself as a teacher.
    </p>
    <p><a href="https://github.com/matrostik/teachme.mvc.net/wiki" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Source code</h2>
        <p>
            This project is a part of software engineering studies in Azrieli College of Engineereng.
        </p>
        <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our team</h2>
        <p>We are dev ninjas.</p>
        <br>
        <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net/wiki/Team">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Share your wishes.</p>
        <br>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>